@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
  --font-family: 'Londrina Solid', cursive;
  --font-family-two: 'Mulish', sans-serif;
  --winzo-white: #ffffff;
  --winzo-white-600: rgba(255,255,255,0.6);
  --winzo-black: #424242;
  --winzo-black-25: rgba(66,66,66,0.25);
  --winzo-blue: #23BDFF;
  --winzo-blue-light: #A7E5FF;
  --winzo-dark: #0F1B26;
  --winzo-green: #19DA2D;
  --winzo-red: #EB190C;
  --winzo-orange: #FF511A;
  --winzo-orange-light: #F29C1B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

.page-wrapper{
  overflow: hidden;
}

.green-btn{
  background-color: var(--winzo-green);
  padding: 8px 20px;
  color: var(--winzo-white);
  border-radius: 8px;
  letter-spacing: 1px;
  border: 0px;
}

.orange-btn{
  background-color: var(--winzo-orange);
}

.blue-btn{
  background-color: var(--winzo-blue);
}

.blue-outline-btn{
  background-color: transparent;
  padding: 8px 40px;
  border-radius: 8px;
  border: 1px solid var(--winzo-blue);
  color: var(--winzo-blue);
  letter-spacing: 0.5px;
}

@media (min-width: 576px){
  .container, .container-sm {
    max-width: 700px;
  }
}

@media(min-width: 768px){
  .container, .container-md, .container-sm {
    max-width: 950px;
  }
}

@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
  }
}